@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  z-index: 15;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > a {
  z-index: 100;
  position: relative;
  color: white;
  text-decoration: none;
  margin-left: clamp(1rem, 3vw, 3rem);
  font-weight: 700;
  font-size: calc(20px + 2 * ((100vw - 200px) / 1024));
}

@media (max-width: 420px) {
  .header > a {
    z-index: 100;
    font-size: 15px;
  }
}
