.section__hero {
    padding: 8% 5%;
    padding-bottom: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    background: linear-gradient(
      0deg,
      rgb(188, 196, 196) 0%,
      rgba(0, 129, 167, 1) 47%
    );
  }

  .hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .hero__left > h1 {
    font-size: calc(36px + 6 * ((100vw - 320px) / 680));
    color: rgb(238, 234, 234);
  }
  
  .hero__left > p {
    margin-top: 10px;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    line-height: 1.5;
    max-width: 55ch;
  }
  
  .hero__right {
    align-self: center;
  }
  
  .hero__right > img {
    width: 100%;
  }